html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#root {
	height: 100%;
}

.map {
	height: 100vh;
	width: 100vw;
}

.log{
	position: relative;
	display: flex;
	justify-content: right;
  	align-items: right; 
	z-index: 400;
}
